<h1>Burgers</h1>

<div class="container">
  <!-- uneaten bugers -->
  <div class="">

  </div>

  <!-- eaten burgers -->
  <div class="">

  </div>

  <!-- new burger submit box -->
  <div class="">

  </div>
</div>
