.container {
  display: flex;
  justify-content: center;
  margin: 5% 10%;
}

.burgers {
  display: flex;
  display: inline-block;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10%;
}

.newburger {
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
